// variables of colors and fonts used in the webpage

$primaryFont: 'Open Sans', sans-serif;
$plainWhite: rgb(255,255,255);
$plainBlack:#292F36;

$primary_color:#08415C;
$secondary_color:#CC2936;
$color3:#6B818C;
$color4:#F1BF98;
$color5:#EEE5E9;


$primary_transparent_color:rgba(8, 65, 92,0.8);
$secondary_transparent_color: rgba(204, 41, 54,0.8);
$transparent_color3: rgba(107, 129, 140,0.8);
$transparent_color4: rgba(241, 191, 152,0.8);
$transparent_plainBlack:rgba(0,0,0,0.3);











