@import '../Sass_variables/variables';
@import '../Sass_mixins/mixins';
.cards{
    @include flex(space-around,center);
    box-sizing: border-box;
    padding: 5px;
    // box-shadow: 0px 0px 20px $plainBlack;
    border:none;
    outline: none;
    background-image: linear-gradient(50deg,$plainBlack,$primary_transparent_color,$plainBlack);
    color: $plainWhite;
}